.category {
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.category {
  height: 100%;
}
.category img {
  aspect-ratio: 16/9;
}
.category:hover {
  transform: scale(1.05);
}
.title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-color);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}
