.head {
  margin: 1rem auto;
  cursor: pointer;
}

.form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hidden {
  display: none;
}

.form label,
.form input {
  width: 100%;
}

.invalidMsg {
  color: var(--red-color);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
